.app-content{
    display: flex;
    
}
.flex-col {
    display: flex;
    flex-direction: column
}

.cursor {
    cursor: pointer
}

@media (max-width: 420px) {
    .app-content {
        flex-direction:column;
        align-items: center
    }
}