.screen{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-block: 50px;
    color: #212121;
    font-size: 1.2rem;

}
.container{
    place-self: center;
    width: max(40%,300px);
    border:1px solid var(--theme-color);
    border-radius: 2%;
    padding: 5%;
}
.screen form{
    gap: 20px;
}
.add-img-upload img{
        width:120px;
        cursor: pointer;
}
.add-category{
    min-width: 125px;

}
.add-product-name input,
.add-product-description textarea,
.add-price input,
.add-category select{
    padding: 10px;
    border: 1px solid var(--theme-color);
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}

.add-product-description textarea{
    resize: none;
}
.add-btn{
    max-width: 120px;
    padding: 10px;
    border: none;
    background-color: var(--theme-color);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.add-category-price{
    display: flex;
    gap: 30px;
}
.add-price input{
    width: 100%;
}
