
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
  --theme-color:#21063e;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit';
  scroll-behavior: smooth;
}
html{
  font-size: 62.5%;
}
body{
  min-width: 100vh;
  font-size: 1.6rem; /* 16px */
}

a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 80%;
  margin: 0 auto;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}